.tg {
    border-collapse: collapse;
    border-spacing: 0;
    border-color: #ccc;
}

.tg td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #ccc;
    color: #333;
    background-color: #fff;
}

.tg th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 2px 2px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #ccc;
    color: #333;
    background-color: #f0f0f0;
}

.tg .tg-fechas {
    font-size: 10px;
    border-color: #000000;
    text-align: center;
    vertical-align: center
}

.tg .tg-ks0x {
    font-size: 12px;
    padding: 2px 2px;
    background-color: #cccccc;
    border-color: #333333;
    text-align: center;
    vertical-align: center
}

.tg .tg-habitaciones {
    font-size: 12px;
    padding: 0px 0px;
    background-color: #d1ebf7;
    border-color: #333333;
    text-align: center;
    vertical-align: center
}

.tg .tg-0lax {
    text-align: center;
    vertical-align: center
}