<div class="row">
    <div class="col-12">
        <!-- Simple Card-->
        <div id="simple-card" class="card">
            <div class="card-header">
                <h4 class="card-title">
                    PLANNING DE RESERVACIONES
                </h4>
            </div>

            <table class="tg">

                <!-- ************ INICIO Fecha y día del Plannig ************ -->
                <tr>
                    <th class="tg-ks0x"> </th>
                    <td *ngFor="let i of arregloDia" class="tg-ks0x"> {{ i }} </td>
                </tr>

                <tr>
                    <th class="tg-habitaciones">Habitación</th>
                    <th *ngFor="let i of arregloMes" class="tg-fechas"> {{ i }} </th>
                </tr>

                <!-- ************ FIN Fecha y día del Plannig ************ -->


                <tr *ngFor="let i of arregloMes">
                    <th class="tg-habitaciones"> </th>
                    <td *ngFor="let i of arregloMes" class="tg-0lax"></td>
                </tr>

            </table>

        </div>
    </div>
</div>